
body {
    color: #414141;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    }
article{
    background: #f2f2f2;
}
.pu-square{
    background: none repeat scroll 0 0 #1d9d73;
    border: 4px solid #1d9d73;
    border-radius: 10px;
    color: #fff;
    height: 60px;
    margin: 20px;
    padding: 20px;
    transform: rotate(45deg);
    transition: transform 0.3s ease 0s;
    width: 60px;

}
.pu-square:hover{
    transform: rotate(-45deg);
}
.row-gap {
    margin-top: 20px;
}
#feeds{background: #ffffff;}
.avatar {width:25px; border-radius: 50%; border: 1px solid #FFA500;}
li.dropdown.open{ 
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
 }
.navbar{
    background: #0D6083;
    margin: 0;
    border: 0;
}
.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus{
    color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: transparent;
    color: #fff;
}
.dropdown-menu > li > a {
    color: #999;
}
.dropdown-menu > li > a.live {
    color: #0D6083;

}
.dropdown-menu > li > a.live:hover{
    margin-left: 5px;
    transition: all 0.2s ease 0s;
}
.navbar-inner {
    border:0;
    padding-top: 10px;
    min-height: 50px;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{
    background-color: #1D7C9E;
}
.navbar .divider-vertical {
    border: 0;
    border-right: 1px solid #FFFFFF;
    height: 20px;
    margin: 10px 9px;
}
.navbar-nav > li.loginAs > a {padding: 10px 15px}
.nav > li > a > img {
    border-radius: 50%;
    max-width: none;
    width: 30px;
    border:2px solid #F0C786;
    display: inline;
}

.navbar .nav > li > a.create{
    background: #E8910C
}
.modal {
    width:750px;
}
#addJournal{
    background: none repeat scroll 0 0 #E8910C;
    border-radius: 2px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    margin-top: 10px;
    padding: 5px 8px;
}
.modal-backdrop {
    background-color: #0D6083;
}

#summaryFunnel {
    width: 600px;
    margin: 10px 0 0 0;
    padding-top: 5px;
}

#summaryFunnel ul {
  list-style: none;
  font-weight: bold;
  font-weight: 500;
  list-style-type: none;
  position: absolute;
  right: 48px;
  top: 26px;
}

.funnel_a, .funnel_b,.funnel_c, .funnel_d,.funnel_e, .funnel_f,  .funnel_g{
    clear: both;
    padding-top: 1%;
 } 

.funnel_a { margin-left: 13%; }
.funnel_b { margin-left: 14.5%; }
.funnel_c { margin-left: 16%; }
.funnel_d { margin-left: 17.5%; }
.funnel_e { margin-left: 19%; }
.funnel_f { margin-left: 20.5%; }
.funnel_g { margin-left: 22%; }

.rightSide, .leftSide {
    float: left;
    position: relative;
    border-color: #cb5b5d transparent;
    border-style: solid;
    border-width: 30px 7px 0 0px; 
    opacity:.9;
    filter: alpha(opacity=90);
}

.leftSide {
    border-width: 30px 0px 0px 7px; }

.funnel_b .rightSide, .funnel_b .leftSide {
    border-color: #13598b transparent;}

.funnel_c .rightSide, .funnel_c .leftSide {
    border-color: #fc9b67 transparent; }

.funnel_d .rightSide, .funnel_d .leftSide {
    border-color: #dcca6a transparent; }

.funnel_e .rightSide, .funnel_e .leftSide {
    border-color: #b57ec7 transparent; }

.funnel_f .rightSide, .funnel_f .leftSide {
    border-color: #a1be76 transparent; }

.funnel_g .rightSide, .funnel_g .leftSide {
    border-color: #cb5b5d transparent; }

.rightSide span {
       background: url("http://www.pageupblue.com/styleguide/wp-content/themes/Pears/images/dots.png") no-repeat scroll 0 11% rgba(0, 0, 0, 0);
    font-size: 0.9em;
    font-weight: bold;
    left: 4px;
    line-height: 10px;
    padding-left: 33px;
    position: absolute;
    top: -20px;
    width: 200px;
}

.center {
    float: left;
    background-color: #cb5b5d;
    width: 33.5%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: white; 
    opacity:.9;
    filter: alpha(opacity=90);
    border:0;
    height:30px;
    line-height: 30px;
 }

.funnel_b .center { width: 30.5%; background-color: #13598b;  }
.funnel_c .center{ width: 27.5%; background-color: #fc9b67;  }
.funnel_d .center { width: 24.5%; background-color: #dcca6a;  }
.funnel_e .center { width: 21.5%; background-color: #b57ec7;  }
.funnel_f .center { width: 18%; background-color: #a1be76;  }
.funnel_g .center { width: 14.5%; background-color: #cb5b5d;  }         


.item {
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    margin-right: 2%;
    position: relative;
    width: 30%;
    z-index: 0;
    background: none repeat scroll 0 0 #fff;
    border-color: #ededed #ededed #ddd;
    border-image: none;
    border-style: solid solid double;
    border-width: 1px 1px medium;
    transition: background-color 0.1s ease 0s;
}

.largeItem{width:62%;}

.boxcontainer {
    font-size: 13px;
    overflow: visible;
    padding: 40px 15px 15px;
    position: relative;
    z-index: 97;
}
.boxcontainer > span:first-child {
    background: none repeat scroll 0 0 #7e76b8;
    color: white;
    left: 0px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: auto;
    z-index: 98;
    }
.boxcontainer > span.rec {background: #eeb964; left: 0; top:0; right: auto; padding: 2px 5px;}   

.card-footer {
    border-top: 1px solid #e6e6e6;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}

div.item.added{
        background: #FAECD6;
}


.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.badge{ font-size: 13px; background-color: #69c1cf; padding: 5px 8px; border-radius: 0; }

#learning .nav > li > a {
    display: inline-block;
}
#search { 
    position: relative;
}
#autosuggestion {     
    background: none repeat scroll 0 0 #fff;
    box-shadow: 5px 5px 3px #898989;
    display: none;
    padding: 15px;
    position: absolute;
    width: 500px;
    z-index: 999;
    top:40px;
}
#autosuggestion2 {
    background: none repeat scroll 0 0 #f0f0f0;
    display: none;
    padding: 15px;
    position: absolute;
    top: 45px;
    width: 300px;
    z-index: 999;
}
.user {
    position: absolute;
    top:0;
    right:0; 
    width: 36px;
}
#add-msg{display: none}
/*#searchbox:focus + div {
        display: block;
}*/
.cost {
    color: gray;
    position: absolute;
    right: 5px;
    top: 0;
}

#search .nav-tabs > .active > a, .nav-tabs > .active > a:hover, #search .tabs-below > .nav-tabs { border:0;}
.item-des {margin:0;}
.item-des li {
    border-bottom: 1px dashed #d4d4d4;
    list-style-type: none;
    padding: 10px 5px;
    font-size: 16px;
}
.item-des li i{
    width: 50px;
    color: #c0392b;
}

.whitebg {background: #ffffff;}
.whitebg .item{background: #f0f0f0; width: 47%;}
.whitebg .item img {width: 60px; float: left; margin-right:20px;}
.modal-body {
    max-height: 500px;
}
ul.nav span.badge{border-radius: 50%; float: left; margin-right:15px;}
.selected{background: none repeat scroll 0 0 #faecd6;}
.selected:before{
    content:'\f00c';
    font-family: 'FontAwesome';
    left: -15px;
    position: absolute;
}
#multiple-search-panel {display: none}
#multiple-search-panel li.heading {font-size: 16px; text-indent: 0px}
#multiple-search-panel li{text-indent: 20px}
.competency{
    max-height:220px;
    overflow-y: scroll; 
    position: relative;
}

/*************************************************\
        system settings
\*************************************************/
.green{
    color:#1d9d73;
}
.gray{
    color:#999999;
}


#featureGrid_table tr td:first-child, #featureGrid_table tr td:last-child{
    display: none;
}
#systemsettings .label{   
    border-radius: 0;
    color: #ffffff;
    float: right;
    font-size: 12px;
    margin: 3px;
    padding: 5px 8px;
    font-weight: normal;
}
#systemsettings  .table {
    overflow: hidden;
}
#systemsettings table label{ display: inline;}
#systemsettings h5{
    color:#0093ca
}
#systemsettings .editable{
    cursor: pointer;
    background-color: lightyellow;
    border: 1px dotted #999;
}
#systemsettings .edit-mode, #systemsettings .editable:hover{
    background-color: #ffff99;; 
    border: 1px dotted #999;
}
#systemsettings .table thead th {
    vertical-align: middle;
}

#systemsettings #autosuggestion{
    box-shadow: 1px 3px 5px #898989;
}

.chosen-container{width:520px !important;}
#systemsettings .chosen-container-multi .chosen-choices li.search-choice {
    background-clip: padding-box;
    background-color: #69c1cf;
    background-image: none;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 6px 20px 6px 8px;
    position: relative;
}

#systemsettings .chosen-container .chosen-results li.highlighted {
    background-color: #aaa;
    background-image: none;
    color: #fff;
}