body {
    color: #414141;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    }
footer{position: fixed; bottom: 0; right:5px;}
ul {padding: 0;}
li{  list-style: outside none none;}    
article{
    background: #f2f2f2;
}
.box {
    background: #fff none repeat scroll 0 0;
    margin: 20px 0;
    padding: 10px 20px;
}
.pu-square{
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    color: #fff;
    height: 60px;
    font-size: 22px;
    padding: 13px 18px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
    width: 60px;
    display: inline-block;
    margin: 40px auto 20px;

}
.pu-square:before {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale3d(0.9, 0.9, 1);
    transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.orange-bg:before {box-shadow: 0 0 0 35px #eeb964 inset;}
.orange-bg:hover{ color:#eeb964;}
.orange-bg:hover:before {box-shadow: 0 0 0 2px #eeb964 inset; transform: scale3d(1, 1, 1);}

.green-bg:before {box-shadow: 0 0 0 35px #1d9d73 inset;}
.green-bg:hover{ color:#1d9d73;}
.green-bg:hover:before {box-shadow: 0 0 0 2px #1d9d73 inset; transform: scale3d(1, 1, 1);}

.red-bg:before {box-shadow: 0 0 0 35px #cb6564 inset;}
.red-bg:hover{ color:#cb6564;}
.red-bg:hover:before {box-shadow: 0 0 0 2px #cb6564 inset; transform: scale3d(1, 1, 1);}

.purple-bg:before {box-shadow: 0 0 0 35px #7e76b8 inset;}
.purple-bg:hover{ color:#7e76b8;}
.purple-bg:hover:before {box-shadow: 0 0 0 2px #7e76b8 inset; transform: scale3d(1, 1, 1);}

.sushi-bg:before {box-shadow: 0 0 0 35px #A3B941 inset;}
.sushi-bg:hover{ color:#A3B941;}
.sushi-bg:hover:before {box-shadow: 0 0 0 2px #A3B941 inset; transform: scale3d(1, 1, 1);}

.blue-bg:before {box-shadow: 0 0 0 35px #69c1cf inset;}
.blue-bg:hover{ color:#69c1cf;}
.blue-bg:hover:before {box-shadow: 0 0 0 2px #69c1cf inset; transform: scale3d(1, 1, 1);}
/*.blue-bg{background-color: #69c1cf}
.red-bg{background-color: #cb6564 }
.green-bg{background-color: #1d9d73 }
.orange-bg{background-color: #eeb964 }
.purple-bg{background-color: #7e76b8 }
.sushi-bg{background-color: #A3B941}*/

.pu-square.small{
    height: 45px;
    width: 45px;
    font-size: 14px;
}
.pu-square i{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
}
/*.pu-square:hover{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.pu-square:hover i{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
}*/
.pu-square + span{
    display: block;
}

.row-gap {
    margin-top: 20px;
}
#feeds{background: #ffffff;}
.avatar {width:25px; border-radius: 50%; border: 1px solid #FFA500;}
.avatar-lg {width:60px; height:60px; border-radius: 50%; border: 4px solid #FFA500;}
.avatar-xlg {width:100px; height:100px; border-radius: 50%; border: 4px solid #FFA500;}
li.dropdown.open{ 
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
 }
.navbar{
    background: #0D6083;
    margin: 0;
    border: 0;
}
.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus{
    color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: transparent;
    color: #fff;
}
.dropdown-menu > li > a {
    color: #999;
}
.dropdown-menu > li > a.live {
    color: #0D6083;

}
.new {
  color: #fff;
  background: #E8910C;
  padding: 0px 5px;
  font-size: 12px;
  border-radius: 4px;

}

.dropdown-menu > li > a.live:hover{
    margin-left: 5px;
    transition: all 0.2s ease 0s;
}
.navbar-inner {
    border:0;
    padding-top: 10px;
    min-height: 50px;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{
    background-color: #1D7C9E;
}
.navbar .divider-vertical {
    border: 0;
    border-right: 1px solid #FFFFFF;
    height: 20px;
    margin: 10px 9px;
}
.navbar-nav > li.loginAs > a {padding: 10px 15px}
.nav > li > a > img {
    border-radius: 50%;
    max-width: none;
    width: 30px;
    border:2px solid #F0C786;
    display: inline;
}

.navbar .nav > li > a.create{
    background: #E8910C
}
.modal {
    width:750px;
}
#addJournal{
    background: none repeat scroll 0 0 #E8910C;
    border-radius: 2px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    margin-top: 10px;
    padding: 5px 8px;
}
.modal-backdrop {
    background-color: #0D6083;
}

#filter li{
    line-height: 1.4;
} 
#filter li:before{
    font-family: "FontAwesome";
    content:'\f096';
    margin-left: 2px;
    margin-right: 5px;
}

/** Learning ***/
.head{
    padding: 30px 0;
}
.largeItem{width:62%;}

.boxcontainer {
    font-size: 13px;
    overflow: hidden;
    padding: 20px 15px 15px;
    position: relative;
    z-index: 97;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
    background: none repeat scroll 0 0 #fff;
    border-color: #ededed #ededed #ddd;
    border-image: none;
    border-style: solid solid double;
    border-width: 1px 1px medium;
    transition: background-color 0.1s ease 0s;
}

.boxcontainer > span.rec {
    background: #eeb964; 
    left: 0; 
    top:0; 
    padding: 2px 5px; 
    font-size: 11px;
    color: white;
    position: absolute;
}   
.boxcontainer:hover img.featured {
    transform: scale(1.1, 1.1);
}

.boxcontainer h5 {margin-top:20px; font-size: 18px; margin-bottom:5px; }
.boxcontainer figure { text-align: center;}
.boxcontainer figure > i.fa {
         font-size: 8em;
         color: #E0E4CC;
       }
    .type{ color: #F38630}  
    .featured{
       min-width: 295px;
       margin-left: -16px;
       margin-top: -20px;
       max-width: 100%;
       transform: scale(1, 1);
       transition: transform 1200ms ease-out 0s;
    }
    .rec + p { 
       margin-top: 5px;
       font-size: 12px;
       color: #888;

    }
    .rec + p + img { 
       margin-top: 5px;
    }

    .boxcontainer > span.like{
        background: none repeat scroll 0 0 #7e76b8;
        color: white;
        right: -1px;
        padding: 5px 10px;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 98;
    }
.card-footer {
    border-top: 1px solid #e6e6e6;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}

div.item.added{
        background: #FAECD6;
}


.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.badge{ font-size: 13px; background-color: #69c1cf; padding: 5px 8px; border-radius: 0; }

#learning .nav > li > a {
    display: inline-block;
}
#search { 
    position: relative;
}
#autosuggestion {     
    background: none repeat scroll 0 0 #fff;
    box-shadow: 5px 5px 3px #898989;
    display: none;
    padding: 15px;
    position: absolute;
    width: 500px;
    z-index: 999;
    top:40px;
}
#autosuggestion2 {
    background: none repeat scroll 0 0 #f0f0f0;
    display: none;
    padding: 15px;
    position: absolute;
    top: 45px;
    width: 300px;
    z-index: 999;
}
.user {
    position: absolute;
    top:0;
    right:0; 
    width: 36px;
}
#add-msg{display: none}
/*#searchbox:focus + div {
        display: block;
}*/
.cost {
    color: gray;
    position: absolute;
    right: 5px;
    top: 0;
}

#search .nav-tabs > .active > a, .nav-tabs > .active > a:hover, #search .tabs-below > .nav-tabs { border:0;}
.item-des {margin:0;}
.item-des li {
    border-bottom: 1px dashed #d4d4d4;
    list-style-type: none;
    padding: 10px 5px;
    font-size: 16px;
}
.item-des li i{
    width: 50px;
    color: #c0392b;
}

.whitebg {background: #ffffff;}
.whitebg .item{background: #f0f0f0; width: 47%;}
.whitebg .item img {width: 60px; float: left; margin-right:20px;}
.modal-body {
    max-height: 500px;
}
ul.nav span.badge{border-radius: 50%; float: left; margin-right:15px;}
.selected{background: none repeat scroll 0 0 #faecd6;}
#filter li.selected:before{
    content:'\f046';
    font-family: 'FontAwesome';
}
#multiple-search-panel {display: none}
#multiple-search-panel li.heading {font-size: 16px; text-indent: 0px}
#multiple-search-panel li{text-indent: 20px}
.competency{
    max-height:220px;
    overflow-y: scroll; 
    position: relative;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*************************************************\
        system settings
\*************************************************/
.green{
    color:#1d9d73;
}
.gray{
    color:#999999;
}
.red{
    color:#.avatar-lg;
}


#featureGrid_table tr td:first-child, #featureGrid_table tr td:last-child{
    display: none;
}
#systemsettings .label{   
    border-radius: 0;
    color: #ffffff;
    float: right;
    font-size: 12px;
    margin: 3px;
    padding: 5px 8px;
    font-weight: normal;
}
#systemsettings  .table {
    overflow: hidden;
}
#systemsettings table label{ display: inline;}
#systemsettings h5{
    color:#0093ca
}
#systemsettings .editable{
    cursor: pointer;
    background-color: lightyellow;
    border: 1px dotted #999;
}
#systemsettings .edit-mode, #systemsettings .editable:hover{
    background-color: #ffff99;; 
    border: 1px dotted #999;
}
#systemsettings .table thead th {
    vertical-align: middle;
}

#systemsettings #autosuggestion{
    box-shadow: 1px 3px 5px #898989;
}

.chosen-container{width:520px !important;}
#systemsettings .chosen-container-multi .chosen-choices li.search-choice {
    background-clip: padding-box;
    background-color: #69c1cf;
    background-image: none;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 6px 20px 6px 8px;
    position: relative;
}

#systemsettings .chosen-container .chosen-results li.highlighted {
    background-color: #aaa;
    background-image: none;
    color: #fff;
}