
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-5px,0,0);
    transform: translate3d(-5px,0,0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(5px,0,0);
    transform: translate3d(5px,0,0);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-5px,0,0);
    transform: translate3d(-5px,0,0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(5px,0,0);
    transform: translate3d(5px,0,0);
  }
}
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0,0,1,15deg);
    transform: rotate3d(0,0,1,15deg);
  }
  40% {
    -webkit-transform: rotate3d(0,0,1,-10deg);
    transform: rotate3d(0,0,1,-10deg);
  }
  60% {
    -webkit-transform: rotate3d(0,0,1,5deg);
    transform: rotate3d(0,0,1,5deg);
  }
  80% {
    -webkit-transform: rotate3d(0,0,1,-5deg);
    transform: rotate3d(0,0,1,-5deg);
  }
  100% {
    -webkit-transform: rotate3d(0,0,1,0deg);
    transform: rotate3d(0,0,1,0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0,0,1,15deg);
    transform: rotate3d(0,0,1,15deg);
  }
  40% {
    -webkit-transform: rotate3d(0,0,1,-10deg);
    transform: rotate3d(0,0,1,-10deg);
  }
  60% {
    -webkit-transform: rotate3d(0,0,1,5deg);
    transform: rotate3d(0,0,1,5deg);
  }
  80% {
    -webkit-transform: rotate3d(0,0,1,-5deg);
    transform: rotate3d(0,0,1,-5deg);
  }
  100% {
    -webkit-transform: rotate3d(0,0,1,0deg);
    transform: rotate3d(0,0,1,0deg);
  }
}
.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

.job {
  background: #fff;
  padding: 15px 0;
  position: relative;
  margin: 10px 0;
  border-top: 1px solid #ddd;
}
.job ul {
  background: #f9f9f9;
  margin-top: 10px;
  width: 100%;
}
.job ul li {
  list-style: none;
  padding-left: 20px;
  margin: 8px 0;
}
.job ul li i {
  margin-left: -15px;
  color: #ddd;
}
.job .col-sm-4 {
  font-family: "Open Sans Semibold", sans-serif;
}
.job .app {
  color: #f8981f;
  font-size: 28px;
  text-align: center;
}
.job .app .new {
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  padding: 0 8px;
}
ul.status {
  background: none repeat scroll 0 0 #e4ebf6;
  padding: 10px 0;
  width: 100%;
}
ul.status li {
    cursor: pointer;
    float: left;
    list-style: outside none none;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    width: 15%;
}
ul.status li > span {
  font-size: 14px;
  color: #999;
}
ul.status li .c100 {
  cursor: pointer;
  display: block;
  float: none;
  vertical-align: middle;
  margin: 0 auto;
}
ul.status li.selected span {
  color: #333333;
}
.alert {
  color: #cb6564 !important;
}
.status .c0 .fill{
  color: #999;
}
.c1,.s1 .app a {
  color: #69c1cf;
}
.s1 .app label {
  background: #69c1cf;
}
.c2,
.s2 .app a {
  color: #eeb964;
}
.s2 .app label {
  background: #eeb964;
}
.c3,
.s3 .app a {
  color: #7e76b8;
}
.s3 .app label {
  background: #7e76b8;
}
.c4,
.s4 .app a {
  color: #ded26a;
}
.s4 .app label {
  background: #ded26a;
}
.c5,
.s5 .app a {
  color: #1d9d73;
}
.s5 .app label {
  background: #1d9d73;
}
.event ul li {
  list-style: outside none none;
  margin: 8px;
}
.event ul li.date {
  font-size: 14px;
  margin-top: 25px;
}
.event ul li.date:first-child {
  margin-top: 0;
}
.tasks hr {
  margin: 15px 0;
}
.tasks .task {
  clear: both;
}
.tasks .task .date {
  padding-top: 30px;
  position: relative;
  text-align: right;
}
.tasks .task .date i {
  background: none repeat scroll 0 0 #f8f8f8;
  border-bottom: 1px solid #e7eaec;
  border-left: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
  padding: 5px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
}
.tasks .task .date span {
  color: #999;
  font-size: 11px;
  white-space: normal;
}
.tasks .task .content {
  border-left: 1px solid #e7eaec;
  min-height: 70px;
}

generated by sitegen on Wed Jan 8 11:03:18 2014 · created by leaf corcoran · lessphp is licensed under GPL3/MIT
