/** Learning ***/
.circle{
    cursor: pointer
}
.boxcontainer {
    font-size: 13px;
    overflow: hidden;
    padding: 20px 15px 15px;
    position: relative;
    z-index: 97;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    border-image: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.11);
}
.boxcontainer.stack{
   border-bottom: 0; 
   box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #fff, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.2), 0 1em 0 -0.5em #fff, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1)
}

.boxcontainer > span.rec {
    background: #eeb964; 
    left: 0; 
    top:0; 
    padding: 2px 5px; 
    font-size: 11px;
    color: white;
    position: absolute;
}   
.boxcontainer:hover img.featured {
    transform: scale(1.1, 1.1);
}

.boxcontainer h5 {margin-top:20px; font-size: 18px; margin-bottom:5px; }
.boxcontainer figure { text-align: center;}
.boxcontainer figure > i.fa {
         font-size: 8em;
         color: #E0E4CC;
       }
    .type{ color: #F38630}  
    .featured{
       min-width: 295px;
       margin-left: -16px;
       margin-top: -20px;
       max-width: 100%;
       transform: scale(1, 1);
       transition: transform 1200ms ease-out 0s;
    }
    .rec + p { 
       margin-top: 5px;
       font-size: 12px;
       color: #888;

    }
    .rec + p + img { 
       margin-top: 5px;
    }

    .boxcontainer > span.status{
        left: 0; 
        top:0; 
        padding: 2px 5px; 
        font-size: 11px;
        color: white;
        position: absolute;
        width: auto;
        z-index: 98;
    }
.card-footer {
    border-top: 1px solid #e6e6e6;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}

div.item.added{
        background: #FAECD6;
}
.cert{
    background: #eee none repeat scroll 0 0;
    border: 3px solid #ffa500;
    border-radius: 50%;
    display: inline-block;
    height: 45px;
    line-height: 40px;
    text-align: center;
    width: 45px;
}
.num{
    border: 1px solid orange;
    border-radius: 50%;
    float: right;
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.badge{ font-size: 13px; background-color: #69c1cf; padding: 5px 8px; border-radius: 0; }

#learning .nav > li > a {
    display: inline-block;
}
#search { 
    position: relative;
}
#autosuggestion {     
    background: none repeat scroll 0 0 #fff;
    box-shadow: 5px 5px 3px #898989;
    display: none;
    padding: 15px;
    position: absolute;
    width: 500px;
    z-index: 999;
    top:40px;
}
#autosuggestion2 {
    background: none repeat scroll 0 0 #f0f0f0;
    display: none;
    padding: 15px;
    position: absolute;
    top: 45px;
    width: 300px;
    z-index: 999;
}
.user {
    position: absolute;
    top:0;
    right:0; 
    width: 36px;
}
#add-msg{display: none}
/*#searchbox:focus + div {
        display: block;
}*/
.cost {
    color: gray;
    position: absolute;
    right: 5px;
    top: 0;
}

#search .nav-tabs > .active > a, .nav-tabs > .active > a:hover, #search .tabs-below > .nav-tabs { border:0;}
.item-des {margin:0;}
.item-des li {
    border-bottom: 1px dashed #d4d4d4;
    list-style-type: none;
    padding: 10px 5px;
    font-size: 16px;
}
.item-des li i{
    width: 50px;
    color: #c0392b;
}

.whitebg {background: #ffffff;}
.whitebg .item{background: #f0f0f0; width: 47%;}
.whitebg .item img {width: 60px; float: left; margin-right:20px;}
.modal-body {
    max-height: 500px;
}
ul.nav span.badge{border-radius: 50%; float: left; margin-right:15px;}
.selected{background: none repeat scroll 0 0 #faecd6;}
#filter li.selected:before{
    content:'\f046';
    font-family: 'FontAwesome';
}
#multiple-search-panel {display: none}
#multiple-search-panel li.heading {font-size: 16px; text-indent: 0px}
#multiple-search-panel li{text-indent: 20px}
.competency{
    max-height:220px;
    overflow-y: scroll; 
    position: relative;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
#mybox #filter ul li {margin-bottom: 10px; cursor: pointer;}
#mybox #filter ul li:before{content: "";}
#switch-view ~ #Lcontent .rec, #switch-view ~ #Lcontent .rec + p{display: none}
