.vertical-orgchart-content:before
.vertical-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.vertical-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#vertical-orgchart {
  position: relative;
}
.vertical-orgchart-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 150%;
  width: 4px;
  background: #ffffff;
}
.vertical-orgchart-block:first-child:before{
  left: 58px;
} 
.vertical-orgchart-block:last-child:before{
  width: 0;
} 
@media only screen and (min-width: 1170px) {
  #vertical-orgchart.center-orientation {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #vertical-orgchart.center-orientation:before {
    left: 50%;
    margin-left: -2px;
  }
}
@media only screen and (max-width: 1170px) {
  .center-orientation.dark-orgchart .vertical-orgchart-content:before {
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
.vertical-orgchart-block {
  position: relative;
  margin: 2em 0;
}
.vertical-orgchart-block:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-orgchart-block:first-child {
  margin-left: -40px;
  margin-top: 0;
  width: 85%;
}
.vertical-orgchart-block:first-child .vertical-orgchart-content:before{
  border: 0 none;
}
.vertical-orgchart-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-orgchart-block {
    margin: 4em 0;
  }
  .center-orientation .vertical-orgchart-block:first-child {
    margin-top: 0;
  }
  .center-orientation .vertical-orgchart-block:last-child {
    margin-bottom: 0;
  }
}
.vertical-orgchart-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: 3px solid #f1f1f1;
  text-align: center;
}
.vertical-orgchart-icon i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -9px;
}
@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-orgchart-icon {
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    font-size: 19px;
  }
  .center-orientation .vertical-orgchart-icon i {
    margin-left: -12px;
    margin-top: -10px;
  }
  .center-orientation .cssanimations .vertical-orgchart-icon.is-hidden {
    visibility: hidden;
  }
}
.vertical-orgchart-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
}
.vertical-orgchart-content:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-orgchart-content h2 {
  font-weight: 400;
  margin-top: 4px;
}
.vertical-orgchart-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.vertical-orgchart-content .vertical-date {
  float: left;
  font-weight: 500;
}
.vertical-date small {
  color: #1ab394;
  font-weight: 400;
}
.vertical-orgchart-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 40px;
  border: 2px solid #fff;
}
@media only screen and (min-width: 768px) {
  .vertical-orgchart-content h2 {
    font-size: 18px;
  }
  .vertical-orgchart-content p {
    font-size: 13px;
  }
}