@import "variables.less";

//
// Typography
// --------------------------------------------------
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
h5, .h5 {font-size: 16px;}
h6, .h6 {font-size: 14px;}
//
// color classes
// --------------------------------------------------
.blue{color: @blue}
.red{color: @red }
.green{color: @green }
.orange{color: @orange }
.purple{color: @purple }
.sushi{color: @sushi }
.pucolor{color: @pucolor;}
.gray, .mute, .inactive{color:@muted;}
.white-bg{background-color: @white}
.text-bg{background-color: @text-color}
.blue-bg{background-color: @blue}
.red-bg{background-color: @red }
.green-bg{background-color: @green }
.orange-bg{background-color: @orange }
.purple-bg{background-color: @purple }
.sushi-bg{background-color: @sushi }
.pu-bg{background-color: @pucolor;}
.left-border{border-left: 1px solid @bordercolor;}
.right-border{border-right: 1px solid @bordercolor;}
.inactive-bg {background-color: @muted}


.pu-color {
  background: #fff;
  display: inline-block;
  height: 80px;
  margin: 0 .5em .5em 0;
  padding: 5px;
  position: relative;
  width: 100px;
  &.pu-lg {
    width: 140px;
    height: 100px;
    .pu-color-swatch span {
      width: 128px;
    }
  }
  .pu-color-swatch {
    display: block;
    height: 100%;
    width: 100%;
  }
  .pu-color-swatch {
    span {
      background: #000;
      background: rgba(0, 0, 0, 0.3);
      bottom: 5px;
      color: #fff;
      font-size: .8em;
      margin: 0;
      opacity: 0;
      padding: 5px 0;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      width: 88px;
    }
    &:hover span {
      opacity: 1;
    }
  }
  
}


//
// Avatar
// --------------------------------------------------
.avatar-sm {width:30px; border-radius: 50%; border: 2px solid @orange;}
.avatar {width:45px; border-radius: 50%; border: 3px solid @orange;}
.avatar-lg {width:60px; height:60px; border-radius: 50%; border: 4px solid @orange;}
.avatar-xlg {width:100px; height:100px; border-radius: 50%; border: 4px solid @orange;}

//
// Box
// --------------------------------------------------
.pu-box {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.11);
  border:1px solid @bordercolor;  
  .pu-box-title {
    background-color: #ffffff;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
    h5 {
        display: inline-block;
        float: left;
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 7px;
        padding: 0;
        text-overflow: ellipsis;
    }
    .pu-box-tools {
        display: block;
        float: none;
        margin-top: 0;
        padding: 0;
        position: relative;
        text-align: right;
        &> a {
            color: @gray;
            cursor: pointer;
            margin-left: 5px;
        }
        &.open{
          .dropdown-menu {
              left: auto;
              right: 0;
          }
        }
    }
  }
  .pu-box-content {
    padding: 15px 20px 20px 20px;
    border-top: 1px dashed @bordercolor;
  }
  .pu-box-footer {
    padding: 10px 15px;
    border-top: 1px dashed @bordercolor;
  }
}
.pu-box.collapsed .ibox-content {
  display: none;
}
.pu-box.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.pu-box.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.pu-box:after,
.pu-box:before {
  display: table;
}

//
// Card
// --------------------------------------------------

.pu-card{
    padding: 15px; 
    &.stack {
      border-bottom: 0 none;
      box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #ffffff, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.2), 0 1em 0 -0.5em #ffffff, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
    }
}
//
// Calendar
// --------------------------------------------------
.calendar {
      border: 5px solid @bordercolor;
      border-radius: 10px;
      height: 80px;
      text-align: center;
      width: 80px;
      color: @green;
      background: white;
    
    .month {
        font-size: 13px;
    }
    .day {
        font-size: 26px;
    }
    .year {
        color: #7c8ba4;
        font-size: 10px;
    }
    &.xs{
      width: 45px;
      height:45px;
      border-width: 3px;
       border-radius: 6px;
      .month{
        font-size: 9px;
      }
      .day {
          font-size: 13px;
          line-height: 0.9;
      }
      .year {
          font-size: 9px;
      }
    }
  }


//
// Diamond
// --------------------------------------------------
.pu-square{
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    color: #fff;
    height: 60px;
    font-size: 22px;
    padding: 13px 18px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
    width: 60px;
    display: inline-block;
    margin: 40px auto 20px;


    &:before {
        border-radius: inherit;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scale3d(0.9, 0.9, 1);
        transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
        width: 100%;
        z-index: -1;
    }

    &.orange-bg:before {box-shadow: 0 0 0 35px @orange inset;}
    &.orange-bg:hover{ color:@orange; background-color: #fff;}
    &.orange-bg:hover:before {box-shadow: 0 0 0 2px @orange inset; transform: scale3d(1, 1, 1);}

    &.green-bg:before {box-shadow: 0 0 0 35px @green inset;}
    &.green-bg:hover{ color:@green; background-color: #fff;}
    &.green-bg:hover:before {box-shadow: 0 0 0 2px @green inset; transform: scale3d(1, 1, 1);}

    &.red-bg:before {box-shadow: 0 0 0 35px @red inset;}
    &.red-bg:hover{ color:@red; background-color: #fff;}
    &.red-bg:hover:before {box-shadow: 0 0 0 2px @red inset; transform: scale3d(1, 1, 1);}

    &.purple-bg:before {box-shadow: 0 0 0 35px @purple inset;}
    &.purple-bg:hover{ color:@purple; background-color: #fff;}
    &.purple-bg:hover:before {box-shadow: 0 0 0 2px @purple inset; transform: scale3d(1, 1, 1);}

    &.sushi-bg:before {box-shadow: 0 0 0 35px @sushi inset;}
    &.sushi-bg:hover{ color:@sushi; background-color: #fff;}
    &.sushi-bg:hover:before {box-shadow: 0 0 0 2px @sushi inset; transform: scale3d(1, 1, 1);}

    &.blue-bg:before {box-shadow: 0 0 0 35px @blue inset;}
    &.blue-bg:hover{ color:@blue; background-color: #fff;}
    &.blue-bg:hover:before {box-shadow: 0 0 0 2px @blue inset; transform: scale3d(1, 1, 1);}
    &.small{
        height: 45px;
        width: 45px;
        font-size: 14px;
    }
    &.pu-square i{
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transition: transform 0.3s ease 0s;
        -webkit-transition: transform 0.3s ease 0s;
    }
    & + span{
        display: block;
    }
}

//
// tag/label
// --------------------------------------------------
.tag-cloud {
    padding: 5px 8px;
    font-size: 16px;
    margin: 5px 8px;
    position: relative;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    line-height: 21px;
    vertical-align: baseline;
    sup {
      background: white none repeat scroll 0 0;
      border-radius: 50%;
      height: 16px;
      position: absolute;
      right: -5px;
      text-align: center;
      top: -5px;
      width: 16px;
      color: #999999;
      font-size: 12px !important
  }
  &.sm{
    font-size: 13px;
    padding: 0 8px;
    sup{
      top:-6px;
      right: -6px;
    }
  }
  &.green-bg sup {
      color: @green;
      border: 1px solid @green;
  }
  &.blue-bg sup {
      color: @blue;
      border: 1px solid @blue;
  }
    &.red-bg sup {
      color: @red;
      border: 1px solid @red;
  }
    &.purple-bg sup {
      color: @purple;
      border: 1px solid @purple;
  }
    &.orange-bg sup {
      color: @orange;
      border: 1px solid @orange;
  }
    &.sushi-bg sup {
      color: @sushi;
      border: 1px solid @sushi;
  }

}

//
// accordion
// --------------------------------------------------


.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}