
.quickFlip {
    position:relative;
    height: 306px;
    overflow: hidden;
}

.quickFlip .quickFlipPanel {
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0!important;
}

.flipColLeft, .flipColRight {
    position:absolute;
    top:0;
    overflow:hidden;
    margin:0!important;
    padding:0!important;
}

.flipColRight .quickFlipPanel {
    right:0;
    left:auto;
}
#panel2{
    margin-left: 100%; 
    transition: all 0.4s ease 0s;
    background: none repeat scroll 0 0 #ffffff;
    height: 100%;
    width: 100%;
}
#panel2.slideIn{
    margin-left: 0; 
}