//variables

//color
@pucolor:		#0D6083;
@text-color: 	#414141;
@bgcolor: 		#f0f0f0;

@white:			#ffffff;
@blue: 			#1a7bb9;
@blue-light:	#69c1cf;
@orange: 		#eeb964;
@green: 		#1d9d73;
@red: 			#cb6564;
@purple:		#7e76b8;
@sushi:			#A3B941;