<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="pu-icon pu-icon-calendar"></i>
            Upcoming events</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li class="date">Tomorrow
            </li>
            <li>
                <a href="#">
                    <i class="pu-icon pu-icon-info"></i>
                    3:00 pm to 4:00 pm Phone Interview with Steve Tout.</a>
            </li>
            <li>
                <a href="#">
                    <i class="pu-icon pu-icon-info"></i>
                    3:00 pm to 4:00 pm Phone Interview with Steve Tout.</a>
            </li>
            <li>
                <a href="#">
                    <i class="pu-icon pu-icon-info"></i>
                    3:00 pm to 4:00 pm Phone Interview with Steve Tout.</a>
            </li>
            <li class="date">
                15 Nov
            </li>
            <li>
                <a href="#">
                    <i class="pu-icon pu-icon-info"></i>
                    1:00 pm to 4:00 pm Phone Interview with Steve Tout.</a>
            </li>
        </ul>
    </div>
</div>
