<ul class="lifecycle" id="lifecycle">
    <li class="li complete">
        <div class="timestamp">
            <span class="date">31 Aug 2015<span>
        </div>
        <div class="status">
          <h4>Planning</h4>
        </div>
      </li>
      <li class="li complete">
        <div class="timestamp">
          <span class="date">22 Jan 2016<span>
        </div>
        <div class="status">
          <h4> Track & Review </h4>
        </div>
      </li>
      <li class="li">
        <div class="timestamp">
          <span class="date">31 Jul 2016<span>
        </div>
        <div class="status">
          <h4> Track & Review (End of Year) </h4>
        </div>
      </li>
      <li class="li">
        <div class="timestamp">
          <span class="date">31 Jul 2016<span>
        </div>
        <div class="status">
          <h4> Complete</h4>
        </div>
      </li>
     </ul>
