<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <!-- module folders -->
      <?php $modules = buildMenu();
          for($i = 0; $i < ceil(count($modules)) ; $i++){ ?>
      <li class="treeview">
        <a href="#">
          <i class="pu-icon pu-icon-2x pu-icon-<?php echo $modules[$i][1];?>"></i>
          <span><?php echo $modules[$i][0];?></span>
          <span class="pull-right-container">
            <i class="fa fa-angle-down pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <?php $folder = "{$resURL}modules/{$modules[$i][0]}";
                   listElementsAsOptions($folder);
                    ?>
        </ul>
      </li>

      <?php } ?>
      <!-- tuneup -->
      <li class="treeview">
        <a href="#">
          <i class="pu-icon pu-icon-2x pu-icon-lab"></i>
          <span>TuneUp</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-down pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <?php $folder = "{$resURL}tuneup";
                      listElementsAsOptions($folder);?>
        </ul>
      </li>
      <!-- map -->
      <li>
        <a target="_blank" href="<?php echo $resURL ?>map/index.html">
          <i class="fa fa-2x fa-map-marker"></i>
          <span>Map</span>
        </a>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
  <footer class="text-center">
    handcrafted with
    <i class="fa fa-heart" style="color:#cb6564"></i>
    by
    <a target="_blank" href="https://www.instagram.com/danielwang/">
      daniel 王大禹
    </a>
  </footer>
</aside>
