<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Modules</li>
            <li class="treeview">
                <a href="#">
                    <i class="pu-icon pu-icon-2x pu-icon-recruitment"></i>
                    <span>Recruitment</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <?php $folder = "{$resURL}modules/recruitment";
              listElementsAsOptions($folder);?>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="pu-icon pu-icon-2x pu-icon-performance"></i>
                    <span>Performance</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <?php $folder = "{$resURL}modules/performance";
                listElementsAsOptions($folder);?>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="pu-icon pu-icon-2x pu-icon-learning"></i>
                    <span>Learning</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <?php $folder = "{$resURL}modules/learning";
                  listElementsAsOptions($folder);?>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="pu-icon pu-icon-2x pu-icon-analytics"></i>
                    <span>Analytics</span>
                </a>
            </li>
            <li>
                <a href="<?php echo ($resURL)?>modules/settings">
                    <i class="pu-icon pu-icon-2x pu-icon-settings"></i>
                    <span>Settings</span>
                </a>
            </li>
            <li class="header">Layouts</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th-large fa-2x"></i>
                    <span>Layouts</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <?php $folder = "{$resURL}layouts";
                    listElementsAsOptions($folder);?>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-puzzle-piece fa-2x"></i>
                    <span>Patterns</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <?php $folder = "{$resURL}patterns";
                      listElementsAsOptions($folder);?>
                </ul>
            </li>
            <li class="header">Random</li>
            <li>
                <a target="_blank" href="map">
                    <i class="fa fa-2x fa-map-marker"></i>
                    <span>Map</span>
                </a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
    <footer class="text-center">
        designed with
        <i class="fa fa-heart" style="color:#cb6564"></i> by
        <a target="_blank" href="https://www.instagram.com/danielwang/">daniel wang
    	</a>
    </footer>
</aside>
