<div class="submenu">
  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-primary">Edit</button>
      <div class="btn-group">
        <button type="button" class="btn btn-white"><i class="fa fa-copy fa-lg" aria-hitden="true"></i></button>
        <button type="button" class="btn btn-white">
        <i class="fa fa-trash fa-lg" aria-hitden="true"></i>
      </button>
        <div class="btn-group">
          <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-ellipsis-h fa-lg" aria-hitden="true"></i>
        </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Dropdown link</a>
            </li>
            <li>
              <a href="#">Dropdown link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
