<nav class="submenu">
  <div class="row">
    <div class="col-sm-6">
      <?php if ($breadcrumb == true){ ?>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            Top level</a>
        </li>
        <li>
          <a href="#">Level 2</a>
        </li>
        <li>
          <a href="#">Level 3</a>
        </li>
        <li>
          <a href="#">Level 4</a>
        </li>
        <li class="active">Level 5</li>
      </ol>
    <?php } else { ?>
      <button type="button" onclick="window.history.back();" class="btn btn-white" data-toggle="tooltip" data-placement="bottom" title="Back">
        <i class="fa fa-chevron-left fa-lg" aria-hitden="true"></i>
      </button>
      <?php } ?>
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Add">
        Add
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-white" data-toggle="tooltip" data-placement="bottom" title="Clone">
          <i class="fa fa-copy fa-lg" aria-hitden="true"></i>
        </button>
        <button type="button" class="btn btn-white" data-toggle="tooltip" data-placement="bottom" title="Delete">
          <i class="fa fa-trash fa-lg" aria-hitden="true"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-ellipsis-h fa-lg" aria-hitden="true"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a href="#">Action 1</a>
            </li>
            <li>
              <a href="#">Action 2</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
