 






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PageUp Concepts Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="daniel.wang" >
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="https://s3-ap-southeast-2.amazonaws.com/pu-gel/1.2/dist/css/pageup.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet/less" type="text/css" href="../css/main.less" />
    <!-- LESS.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- custom script -->
    <script src="../js/custom.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
            <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="../index"><img width="80" src="../img/pu-logo.png"/></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav main-nav">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="pu-icon pu-icon-logo"></i>&nbsp;&nbsp;PU Modules <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li><a href="../modules/dashboard">Dashboard</a></li><li><a href="../modules/dock">Dock</a></li><li><a href="../modules/job-card">Job Card</a></li><li><a href="../modules/journal">Journal</a></li><li><a href="../modules/learning-activity">Learning Activity</a></li><li><a href="../modules/learning">Learning</a></li><li><a href="../modules/orgchart">Orgchart</a></li><li><a href="../modules/performance">Performance</a></li><li><a href="../modules/systemsettings">Systemsettings</a></li>                        </ul>
                    </li>
                    <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-th fa-lg"></i>&nbsp; Layouts<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Page Layouts</li>
                            <li><a href="../layouts/fluid">Fluid</a></li>
                            <li><a href="../layouts/fixed-width">Fixed width</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Content templates</li>
                            <li><a href="../layouts/content-only">Content Only</a></li>
                            <li><a href="../layouts/sidebar-content">Sidebar and content</a></li>
                            <li><a href="../layouts/content-aside">Content and aside</a></li>
                            <li><a href="../layouts/three-columns">Three Columns</a></li>
                            <li><a href="../layouts/modal">Focused task</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-puzzle-piece fa-lg"></i>&nbsp; Patterns <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li><a href="../patterns/form">Form</a></li><li><a href="../patterns/list">List</a></li><li><a href="../patterns/typography">Typography</a></li>                        </ul>
                    </li>
                    <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-lg fa-coffee"></i>&nbsp; Relax  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li><a target="_black" href="apps/map"> Map</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><button class="btn btn-info btn-sm margin-right">Action</button></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle head-button-link"><span class="notice-new">3</span><i class="pu-icon pu-icon-bell"></i></a>
                    </li>
                    <li class="dropdown loginAs"> <span data-toggle="dropdown" class="dropdown-toggle" href="#"><img src="../img/emp/emp.jpg" class="pu-avatar pu-avatar-sm" /> Daniel <b class="caret"></b></span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Profile</a>
                            </li>
                            <li><a href="#">Journal</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Logout</a>
                            </li>
                        </ul>
                    </li>
                    <li id="user-setting" class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#_"><i class="pu-icon pu-icon-cogs"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                         <li>User Type :</li>
                         <li class="manager"><a data-attr="manager" href="#"> Manager</a> </li>
                         <li class="employee"><a data-attr="employee" href="#"> Employee</a> </li>
                        </ul>
                    </li>
                </ul>
                <!-- search box -->
                <form role="search" id="search" class="navbar-form app-only">
                    <div class="input-group">
                        <span class="input-group-addon"> <i class="fa fa-search"></i> </span>
                        <input type="text" placeholder="Search" class="form-control search-box">
                    </div>
                    <label id="pin-btn" class="checkbox__label">
                      <input id="toggle-view" class="checkbox hide" type="checkbox">
                      <span class="pin__track">
                        <span class="pin">
                          <span class="pin__component__wrapper">
                            <i class="fa fa-lg fa-thumb-tack" aria-hidden="true"></i>
                          </span>
                        </span>
                      </span>
                    </label>
                </form>
            </div>
    </div>
</nav>


<div class="container">
	<style type="text/css">
.side .row {
      margin-bottom: 20px;
      padding-bottom: 5px;
  }
.side i {
    color: #40B8E6;
  }
.side .dash {
      border-bottom: 1px dashed #ddd;
      padding-bottom: 5px;
  }
</style>

   <h2>Talent Mobility</h2>
      <div class="row">
          <div class="col-sm-8">
            <div class="pu-box">
              <div class="pu-box-content">
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
              <p>Ut wisi enim ad minim veniam, <a href="#">quis nostrud exerci tation ullamcorper</a> suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              <h3>Paragraphs</h3>
              <img class="img-responsive" src="http://wwwstatic.pageuppeople.com/wp-content/uploads/2015/03/mobile-blog-pic2.jpg" />
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
              <h3>Paragraphs</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
              <h3>Unordered list</h3>
<p>Unordered lists are used to markup lists where list items do not require numbering.</p>
<ul>
  <li>Ut wisi enim ad minim veniam</li>
  <li>Quis nostrud exerci tation</li>
  <li>Lamcorper suscipit lobortis nis</li>
  <li>Ut aliquip ex ea commodo consequat</li>
  <li>Duis autem vel eum iriure dolor</li>
</ul>
              </div>
              <div class="pu-box-footer text-center">
                  <button class="btn btn-primary">Action</button>
              </div>
            </div>
          </div>
          <div class="col-sm-4 side">
            <div ng-show="activity.status" class="row">
                <div class="col-xs-6 col-lg-4"><i class="fa fa-info fa-fw"></i> <span lang="STATUS">Status</span></div>
                <div class="col-sm-6 col-lg-8 dash ng-binding">In progress</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-4"><i class="fa fa-user fa-fw"></i> <span lang="CREATED_BY">Created by</span></div>
                <div class="col-sm-6 col-lg-8 dash ng-binding"><img class="pu-avatar pu-avatar-sm" src="../img/emp/emp.jpg"> Daniel Wang</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-4"><i class="fa fa-clock-o fa-fw"></i> <span lang="APPLICANT_CREATE_DATE">Created</span></div>
                <div class="col-sm-6 col-lg-8 dash activity-created-date ng-binding">21 Aug 15</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-4"><i class="fa fa-files-o fa-fw"></i> <span lang="TYPE">Type</span></div>
                <div class="col-sm-6 col-lg-8 dash ng-binding">Online Video Learning</div>
            </div>
            <div ng-show="activity.validity !== 0" class="row ng-hide">
                <div class="col-xs-6 col-lg-4"><i class="fa fa-history fa-fw"></i> <span lang="VALID_FOR">Valid for</span></div>
                <div class="col-sm-6 col-lg-8 dash ng-binding">0 <span lang="DAYS">Days</span></div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-4"><i class="fa fa-thumbs-o-up fa-fw"></i> <span lang="POPULARITY">Popularity</span>
                </div>
                <div class="col-sm-6 col-lg-8 dash">
                  <img class="pu-avatar pu-avatar-sm" src="../img/emp/emp1.png"><img class="pu-avatar pu-avatar-sm" src="../img/emp/emp2.png">
                  <img class="pu-avatar pu-avatar-sm" src="../img/emp/emp3.png"><img class="pu-avatar pu-avatar-sm" src="../img/emp/emp4.png">
                  <img class="pu-avatar pu-avatar-sm" src="../img/emp/emp5.png"><img class="pu-avatar pu-avatar-sm" src="../img/emp/emp6.png">
                  <img class="pu-avatar pu-avatar-sm" src="../img/emp/emp7.png"><img class="pu-avatar pu-avatar-sm" src="../img/emp/emp8.png">
                  <img class="pu-avatar pu-avatar-sm" src="../img/emp/emp9.png"><img class="pu-avatar pu-avatar-sm" src="../img/emp/emp10.png">
                  <img class="pu-avatar pu-avatar-sm" src="../img/emp/emp11.png"><img class="pu-avatar pu-avatar-sm" src="../img/emp/emp12.png">
                </div>
            </div>


            <div ng-show="activity.competencies.length !== 0">
            <h5 lang="COMPETENCIES">Competencies</h5>

            <!-- ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
                <a popover-trigger="focus" popover="Introducing original ideas; applying new methods; being creative." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Innovation</a>
                <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Innovation </span>
                - <span class="level ng-binding">People Leader</span>
            </p><!-- end ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
                <a popover-trigger="focus" popover="Introducing original ideas; applying new methods; being creative." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Innovation</a>
                <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Innovation </span>
                - <span class="level ng-binding">Technical Leader</span>
            </p><!-- end ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
                <a popover-trigger="focus" popover="Introducing original ideas; applying new methods; being creative." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Innovation</a>
                <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Innovation </span>
                - <span class="level ng-binding">Business Leader</span>
            </p><!-- end ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
                <a popover-trigger="focus" popover="Creating and defining a broad, compelling organisational vision, and organising and inspiring others to pursue it." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Leadership (Strategic)</a>
                <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Leadership (Strategic) </span>
                - <span class="level ng-binding">Team Member</span>
            </p><!-- end ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
                <a popover-trigger="focus" popover="Creating and defining a broad, compelling organisational vision, and organising and inspiring others to pursue it." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Leadership (Strategic)</a>
                <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Leadership (Strategic) </span>
                - <span class="level ng-binding">People Leader</span>
            </p><!-- end ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
                <a popover-trigger="focus" popover="Creating and defining a broad, compelling organisational vision, and organising and inspiring others to pursue it." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Leadership (Strategic)</a>
                <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Leadership (Strategic) </span>
                - <span class="level ng-binding">Technical Leader</span>
            </p><!-- end ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
                <a popover-trigger="focus" popover="Creating and defining a broad, compelling organisational vision, and organising and inspiring others to pursue it." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Leadership (Strategic)</a>
                <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Leadership (Strategic) </span>
                - <span class="level ng-binding">Business Leader</span>
            </p><!-- end ngRepeat: c in activity.competencies -->
          </div>
          </div>
       </div>
   </div>
 </div>
		<footer class="text-center" style="font-size:11px; color:#ababab; margin:20px 0"> designed with <i class="fa fa-heart" style="color:#cb6564"></i> by <a target="_blank" href="https://www.instagram.com/danielwang/">daniel wang </a></footer>
	</body>

</html>