/*.compassgroup a { color: #257BA0; }
.compassgroup .content-wrapper { background-color:  #257BA0; border-radius: 10px 10px 10px 10px; }
.compassgroup .button { color: #000; }
.compassgroup #manage-roles-wrapper p a { color: #257BA0; } 

.col {border:1px solid red}

.content {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 15px;
	border-radius: 10px 10px 10px 10px;

}
*/
h1{margin-top:0}
h3 {
    color: #555555;
    font-size: 100%;
}
#logo img {
    max-width: 100%;
}
#wrapper {
    margin: 30px auto;
	padding:8px;
	background-color:none;
}

.crumb{padding:0}
#crumbs, .letterhead, .top-button-area {}

#book {
  /*  width: 800px;
    margin: 0 auto;
    position: relative;
    left: -60px;*/
}
#book > .inner > .inner {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
    background: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    margin-bottom: 77px;
}
#book > .inner > .inner > .inner {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    background: #fff repeat 0 0;
    background-image: url(http://jack.pageuppeople.com/assets/noise-lite-4bb315cb2080d10b498affcf1caf8f68.png);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 50px 50px 50px 50px;
    min-height: 1000px;
}

#book:before {
    content: '';
    position: absolute;
    z-index: 20;
    height: 59px;
    left: 380px;
    top: -33px;
    width: 58px;
}
#tabs {
    float: right;
    list-style: none outside none;
    margin: 120px -46px 0 0;
    padding: 0;
    position: relative;
    width: 205px;
    z-index: 2;
}
#book .post-it {
    float: right;
}
#tabs li {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #000;
    background-image: -moz-radial-gradient(0% 100%,  circle,  rgba(255, 255, 255, 0.2) 0%,  rgba(0, 0, 0, 0) 100%), -moz-linear-gradient(right,  rgba(0, 0, 0, 0.1) 0,  rgba(0, 0, 0, 0) 10px);
    position: relative;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
#tabs a {
   /* display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #000;
    background: #FCF8CC;
    background-image: -moz-radial-gradient(0% 100%,  circle,  rgba(255, 255, 255, 0.2) 0%,  rgba(0, 0, 0, 0) 100%), -moz-linear-gradient(right,  rgba(0, 0, 0, 0.1) 0,  rgba(0, 0, 0, 0) 10px);
    position: relative;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);*/
}
#tabs li.selected {
    background-image: -moz-radial-gradient(0% 100% , circle , rgba(255, 255, 255, 0.2) 0%, transparent 100%);
    margin-right: -14px;
    position: relative;
}
.yellow {background: #FCF8CC;}
.green {background:#CEFCCA}
.purple{background: #CACEFC;}
.blue{background:#CAE7FC}
.pink{background:#CAFCF8}
.red {background:#E7FCCA}

#nav {
     -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: none;
    list-style: none outside none;
    margin: -170px 0 -140px 178px;
    padding: 0;
    position: relative;
    width: 164px;
    z-index: 2;
}
#nav li{
    background-image: -moz-radial-gradient(0% 100% , circle , rgba(255, 255, 255, 0.2) 0%, transparent 100%), -moz-linear-gradient(left center , rgba(0, 0, 0, 0.1) 0pt, transparent 10px);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    color: #000000;
    margin: 0 10px 10px 0;
    padding: 10px 10px 5px;
    position: relative;
}

#nav li.selected {
    background-image: -moz-radial-gradient(0% 100% , circle , rgba(255, 255, 255, 0.2) 0%, transparent 100%);
    margin-left: -20px;
    padding-left: 40px;
    position: relative;
}

#nav li p{margin-bottom:8px; font-size:12px}
#dropdown {display:none}
option {padding-left:20px}
/*
#nav li.fst{margin-left:20px; width:100px}
#nav li.snd{margin-left:40px}
#nav li.trd{margin-left:60px}
#nav li.fth{margin-left:80px}
#nav li.ffth{margin-left:100px}
#nav li.six{margin-left:120px}*/