<article class="pu-card">
  <div class="pu-buckets btn-group pull-right" data-toggle="buttons">
    <label class="btn bucket-green" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Green Bucket">
      <input id="bucket1" name="bucket" value="1" type="radio">
      <i class="fa fa-lg fa-bitbucket" aria-hidden="true"></i>
    </label>
    <label class="btn bucket-orange" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Orange Bucket">
      <input id="bucket2" name="bucket" value="2" type="radio">
      <i class="fa fa-lg fa-bitbucket" aria-hidden="true"></i>
    </label>
    <label class="btn bucket-red" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Red Bucket">
      <input id="bucket3" name="bucket" value="3" type="radio">
      <i class="fa fa-lg fa-bitbucket" aria-hidden="true"></i>
    </label>
  </div>

  <header class="pu-card-header">
    <h4>
      <a href="#_">Jenifer Smith</a>
    </h4>
    <h6>
      <a href="#">Sales Manager</a>
      <small class="gray">
        @ Francotyp-Postalia Ag &amp; Co. Kg</small>
    </h6>
    <p>Flags:
      <i class="fa fa-plane yellow" aria-hitden="true"></i>
      <i class="fa fa-flag green"></i>
      <i class="fa fa-phone red"></i>
      <i class="fa fa-trophy purple"></i>
    </p>
  </header>
  <section class="pu-card-content">
    <h6>Past roles</h6>
    <p>
      <b>Operations Director
      </b>
      <span>
        @ Francotyp-Postalia Ag &amp; Co. Kg.</span>
      <small class="gray">Jan 2003 to Sept 2004 (1 year 8 months)</small>
    </p>
    <p>
      <b>Operations Director
      </b>
      <span>
        @ At&amp;T Labs Research, Florham</span><br>
      <small class="gray">June 1997 to July 1999 (2 years 1 month)</small>
    </p>
    <p>
      <a href="#">More</a>
    </p>
  </section>
</article>
