<article class="pu-box" role="box">
  <header class="pu-box-header" role="box-header">
    <h4>
      My Reports
    </h4>
  </header>
  <section class="pu-box-content" role="box-content">
    <dl>
      <dt>
        <a href="#">Description lists</a>
      </dt>
      <dd>A description list is perfect for defining terms.</dd>
      <dt>
        <a href="#">Euismod</a>
      </dt>
      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
      <dt>
        <a href="#">Malesuada porta</a>
      </dt>
      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
    </dl>
  </section>
</article>
