<article class="pu-box" role="box">
  <header class="pu-box-header" role="box-header">
    <h4><span class="pu-box-icon hide"><i class="pu-icon pu-icon-logo" aria-hidden="true"></i></span> My Reports<span class="pu-box-label hide"><label class="label label-info">label</label></span></h4>
    <div class="more hide">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#">Action 1</a>
        </li>
        <li><a href="#">Action 2</a>
        </li>
      </ul>
    </div>
  </header>
  <section class="pu-box-content" role="box-content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. De illis, cum volemus. Inquit, dasne adolescenti veniam? Mihi quidem Homerus huius modi quiddam Lorem ipsum dolor sit amet, consectetur adipiscing elit. De illis, cum volemus. Inquit, dasne adolescenti
    veniam? Mihi quidem Homerus huius modi quiddam Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </section>
</article>
