<article class="pu-card">
  <header class="pu-card-header">
    <div class="actions">
      <div class="checkbox checkbox-circle checkbox-success">
        <input type="checkbox">
        <label></label>
      </div>
      <div class="more">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          <i class="fa fa-ellipsis-h fa-lg" aria-hitden="true"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li>
            <a href="#">Action 1</a>
          </li>
          <li>
            <a href="#">Action 2</a>
          </li>
        </ul>
      </div>
    </div>
    <aside class="pu-card-header-aside"><img class="pu-avatar pu-avatar" src="<?php echo ($resURL) ?>/img/emp/emp7.png"></aside>
    <main class="pu-card-header-main">
      <h4>
                        <a href="#_">Theo Willetts</a>
                    </h4>
      <h5>Global Support Team Lead</h5>
      <p>
        <span class="label label-yellow">leadership
                        </span>
        <span class="label label-success">management
                        </span>
        <span class="label label-purple">Analysis
                        </span>
      </p>
    </main>
  </header>
  <section class="pu-card-content">
    <ul class="nav nav-tabs nav-justified nav-line">
      <li class="active">
        <a href="#1a">Details</a>
      </li>
      <li>
        <a href="#2a">Activity</a>
      </li>
      <li>
        <a href="#3a">Documents
                            <sup class="badge">2</sup>
                        </a>
      </li>
    </ul>
    <div class="tab-content clearfix">
      <div class="tab-pane active" id="1a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="tab-pane" id="2a">
        <p>Inquit, dasne adolescenti veniam? Mihi quidem Homerus huius modi quitdam Lorem ipsum dolor sit amet, consectetur adipiscing elit. De illis, cum volemus. Inquit, dasne adolescenti
        </p>
      </div>
      <div class="tab-pane" id="3a">
        <p>Mihi quidem Homerus huius modi quitdam Lorem ipsum dolor sit amet, consectetur adipiscing elit. De illis, cum volemus. Inquit, dasne adolescenti
        </p>
      </div>
    </div>
  </section>
  <footer class="pu-card-footer">
    <button class="btn btn-sm btn-primary">Action</button>
  </footer>
</article>
