<article class="pu-card">
  <header class="pu-card-header">
    <div class="actions">
      <div class="checkbox checkbox-circle checkbox-success">
        <input type="checkbox">
        <label></label>
      </div>
      <div class="more">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          <i class="fa fa-ellipsis-h fa-lg" aria-hitden="true"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li>
            <a href="#">Action 1</a>
          </li>
          <li>
            <a href="#">Action 2</a>
          </li>
        </ul>
      </div>
    </div>
    <aside class="pu-card-header-aside"><img class="pu-avatar pu-avatar" src="<?php echo ($resURL) ?>/img/avatar/users-2.svg"></aside>
    <main class="pu-card-header-main">
      <h4>
        <a href="employee">James Bond</a>
      </h4>
      <h5>Global Support Team Lead</h5>
      <p>
        <span class="pu-tag pu-tag-green pu-tag-sm">leadership
        </span>
        <span class="pu-tag pu-tag-purple pu-tag-sm">management
        </span>
        <span class="pu-tag pu-tag-red pu-tag-sm">Analysis
        </span>
      </p>
    </main>
  </header>
  <section class="pu-card-content">
    <p>
      <i class="fa fa-fw fa-envelope"></i>
      Tal.Robart@pageuppeople.com
    </p>
    <p>
      <i class="fa fa-fw fa-phone"></i>
      +61 0400 000 000
    </p>
    <p>
      <i class="fa fa-fw fa-map-marker"></i>
      91 William Street, Melbourne
    </p>
    <p>
      <i class="fa fa-fw fa-suitcase"></i>
      Technology
    </p>
    <p>
      <i class="fa fa-fw fa-user"></i>
      Manager: John Smith</p>
  </section>
  <footer class="pu-card-footer">
    <button class="btn btn-sm btn-primary">Action</button>
  </footer>
</article>
