<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-4 control-label">Label</label>
    <div class="col-sm-8">
      <input class="form-control" placeholder="placeholder" type="text" autofocus/>
      <span class="help-block">(optional)</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Column sizing</label>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-md-2">
          <input class="form-control" placeholder="No." type="text">
        </div>
        <div class="col-md-4">
          <input class="form-control" placeholder="Street" type="text">
          <span class="help-block">Please enter ...</span>
        </div>
        <div class="col-md-6">
          <input class="form-control" placeholder="State" type="text">
          <span class="help-block">Please enter ...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Button addons</label>
    <div class="col-sm-8">
      <div class="input-group">
        <input class="form-control" type="text">
        <span class="input-group-btn">
          <button class="btn" type="button">Action</button>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Select</label>
    <div class="col-sm-4">
      <div class="select">
        <select class="form-control">
          <option>Option 1</option>
          <option>option 2</option>
          <option>option 3</option>
          <option>option 4</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Switch</label>
    <div class="col-sm-8">
      <div class="pu-toggle-btn pu-toggle-btn-blue">
        <label>
          <input checked="" type="checkbox">
          <span></span>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Radios
      <br>
      <small class="text-navy">Normal Bootstrap elements</small>
    </label>
    <div class="col-sm-8">
      <div class="radio radio-info">
        <input checked="" value="option1" id="radio3" name="radio1" type="radio">
        <label for="radio3">
          Option one is this and that&mdash;be sure to include why it's great
        </label>
      </div>
      <div class="radio radio-info">
        <input value="option2" id="radio4" name="radio1" type="radio">
        <label for="radio4">
          Option two can be something else
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Inline checkboxes</label>
    <div class="col-sm-8">
      <div class="checkbox checkbox-info checkbox-inline">
        <input value="option1" id="inlineCheckbox4" class="styled" type="checkbox">
        <label for="inlineCheckbox4">
          Inline One
        </label>
      </div>
      <div class="checkbox checkbox-info checkbox-inline">
        <input checked="" value="option1" id="inlineCheckbox5" class="styled" type="checkbox">
        <label for="inlineCheckbox5">
          Inline Two
        </label>
      </div>
      <div class="checkbox checkbox-info checkbox-inline">
        <input value="option1" id="inlineCheckbox6" class="styled" type="checkbox">
        <label for="inlineCheckbox6">
          Inline Three
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Text area</label>
    <div class="col-sm-8">
      <textarea placeholder="say something ..." class="form-control" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="submit" class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>
