<form>
  <h4 class="blue">Job Role</h4>
  <div class="form-group">
    <label class="control-label">Job title</label>
    <input class="form-control" placeholder="placeholder" type="text" autofocus/>
  </div>
  <div class="form-group">
    <label class="control-label">Job No.</label>
    <input class="form-control" type="text">
    <span class="help-block">Leave blank to automatically create a reference No.</span>
  </div>
  <div class="form-group">
    <label class="control-label">Reports to manager name:</label>
    <input class="form-control" type="text">
  </div>
  <h4 class="blue">Headcount Management</h4>
  <div class="form-group">
    <label class="control-label">Positions</label>
    <div class="row">
      <div class="col-md-5"><input class="form-control" placeholder="New" type="text"></div>
      <div class="col-md-5"><input class="form-control" placeholder="Replacement" type="text">
      </div>
      <div class="col-md-2">
        <button class="btn btn-default" type="button">Add</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4"><label class="control-label">Date opened</label>
        <div class="input-group">
          <input class="form-control" type="text">
          <span class="input-group-btn">
                  <button class="btn" type="button">
                      <i class="fa fa-calendar"></i>
                  </button>
              </span>
        </div>
      </div>
      <div class="col-md-4"><label class="control-label">Date needed</label>
        <div class="input-group">
          <input class="form-control" type="text">
          <span class="input-group-btn">
                  <button class="btn" type="button">
                      <i class="fa fa-calendar"></i>
                  </button>
              </span>
        </div>
      </div>
      <div class="col-md-4">
        <label class="control-label">Date filled</label>
        <div class="input-group">
          <input class="form-control" type="text">
          <span class="input-group-btn">
                    <button class="btn" type="button">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
        </div>
      </div>
    </div>

  </div>
  <h4 class="blue">Position Details</h4>
  <div class="form-group">
    <label class="control-label">Business Unit</label>
    <div class="select">
      <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Department</label>
    <div class="select">
      <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Employment type</label>
    <div class="select">
      <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Pay scale</label>
    <div class="select">
      <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
    </div>
  </div>
  <h4 class="blue">Skill and knowledge</h4>
  <div class="form-group">
    <label class="control-label">Relevant Experience and/or Qualifications</label>
    <textarea class="form-control"></textarea>
  </div>
  <h4 class="blue">Approvals</h4>
  <div class="form-group">
    <label class="control-label">Approval process</label>
    <div class="select">
      <select class="form-control">
                <option>Option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
            </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Recruiter</label>
    <input class="form-control" type="text">
  </div>
  <div class="checkbox checkbox-info">
    <input value="option1" id="inlineCheckbox4" class="styled" type="checkbox" checked/>
    <label for="inlineCheckbox4">
            Save a copy of this job as a template
        </label>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-default">Spell check</button>
    <button type="button" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-success">Save a draft</button>
  </div>

</form>
