<article class="pu-card">
  <header class="pu-card-header">
    <div class="actions">
      <div class="checkbox checkbox-circle checkbox-success">
        <input type="checkbox">
        <label></label>
      </div>
      <div class="more">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i aria-hitden="true" class="fa fa-ellipsis-h fa-lg"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="#">Close job</a>
          </li>
          <li>
            <a href="#">Copy job</a>
          </li>
          <li>
            <a href="#">Invite</a>
          </li>
        </ul>
      </div>
    </div>
    <aside class="pu-card-header-aside">
      <a href="#" class="gray">
        <i class="pu-icon pu-icon-team pu-icon-2x"></i>
        <span class="app">36</span>
      </a>
    </aside>
    <main class="pu-card-header-main">
      <h4>
                        <a href="#_">Sales Manager</a>
                    </h4>
      <p>
        <span class="label label-info">Approved to advertise</span>
      </p>
      <p class="gray">
        <small>
                            Job No.: 512829</small>
        <small>
                            Position No.: 5</small>
      </p>
    </main>
  </header>
  <section class="pu-card-content">
    <div aria-multiselectable="false" role="tablist" id="accordion3" class="accordion">
      <div class="panel">
        <div id="headingOne" role="tab" class="panel-heading">
          <h4 class="panel-title">
                                <a aria-controls="collapse4" aria-expanded="true" href="#collapse4" data-parent="#accordion3" data-toggle="collapse" class="">
                                    Details
                                </a>
                            </h4>
        </div>
        <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapse4" aria-expanded="true" style="">
          <div class="panel-body">
            <table width="100%">
              <tbody>
                <tr>
                  <td>Location:
                  </td>
                  <td>Melbourne</td>
                </tr>
                <tr>
                  <td>Business Unit:
                  </td>
                  <td>Sale Team</td>
                </tr>
                <tr>
                  <td>Recruiter:
                  </td>
                  <td>
                    <a href="#">Bob Smith</a>
                  </td>
                </tr>
                <tr>
                  <td>Hiring Manager:
                  </td>

                  <td>
                    <a href="#">Jenifer Smith</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel">
        <div role="tab" class="panel-heading">
          <h4 class="panel-title">
                                <a aria-controls="collapse5" aria-expanded="false" href="#collapse5" data-parent="#accordion3" data-toggle="collapse" class="collapsed">
                                    Applications
                                </a>
                            </h4>
        </div>
        <div role="tabpanel" class="panel-collapse collapse" id="collapse5" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
        </div>
      </div>
      <div class="panel">
        <div role="tab" class="panel-heading">
          <h4 class="panel-title">
                                <a aria-controls="collapse6" aria-expanded="false" href="#collapse6" data-parent="#accordion3" data-toggle="collapse" class="collapsed">
                                    Notes
                                </a>
                            </h4>

        </div>
        <div role="tabpanel" class="panel-collapse collapse" id="collapse6" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
          </div>
        </div>
      </div>
      <div class="panel">
        <div role="tab" class="panel-heading">
          <h4 class="panel-title">
                                <a aria-controls="collapse7" aria-expanded="false" href="#collapse7" data-parent="#accordion3" data-toggle="collapse" class="collapsed">
                                    Cost
                                </a>
                            </h4>

        </div>
        <div role="tabpanel" class="panel-collapse collapse" id="collapse7" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
        </div>
      </div>
      <div class="panel">
        <div role="tab" class="panel-heading">
          <h4 class="panel-title">
                                <a aria-controls="collapse7" aria-expanded="false" href="#collapse8" data-parent="#accordion3" data-toggle="collapse" class="collapsed">
                                    Sourcing
                                </a>
                            </h4>

        </div>
        <div role="tabpanel" class="panel-collapse collapse" id="collapse8" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
        </div>
      </div>
    </div>
  </section>
</article>
