<div aria-multiselectable="false" role="tablist" id="accordion3" class="accordion" style="width:300px">
  <div class="panel">
    <div id="headingOne" role="tab" class="panel-heading">
      <h4 class="panel-title">
        <a aria-controls="collapse4" aria-expanded="false" href="#collapse4" data-parent="#accordion3" data-toggle="collapse" class="">
          Details
        </a>
      </h4>
    </div>
    <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapse4" aria-expanded="true" style="">
      <div class="panel-body">
        <dl>
          <dt>Location:</dt>
          <dd>Melbourne</dd>
          <dt>Hiring Manager:</dt>
          <dd>
            <a href="#">Daniel Wang</a>
          </dd>
          <dt>Business Unit:</dt>
          <dd>Sale Team</dd>
          <dt>Recruiter:</dt>
          <dd>Bob Smith</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="panel">
    <div role="tab" class="panel-heading">
      <h4 class="panel-title">
        <a aria-controls="collapse5" aria-expanded="false" href="#collapse5" data-parent="#accordion3" data-toggle="collapse" class="collapsed">
          Applications
        </a>
      </h4>
    </div>
    <div role="tabpanel" class="panel-collapse collapse" id="collapse5" aria-expanded="false" style="height: 0px;">
      <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
    </div>
  </div>
  <div class="panel">
    <div role="tab" class="panel-heading">
      <h4 class="panel-title">
        <a aria-controls="collapse6" aria-expanded="false" href="#collapse6" data-parent="#accordion3" data-toggle="collapse" class="collapsed">
          Notes
        </a>
      </h4>

    </div>
    <div role="tabpanel" class="panel-collapse collapse" id="collapse6" aria-expanded="false" style="height: 0px;">
      <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
      </div>
    </div>
  </div>
  <div class="panel">
    <div role="tab" class="panel-heading">
      <h4 class="panel-title">
        <a aria-controls="collapse7" aria-expanded="false" href="#collapse7" data-parent="#accordion3" data-toggle="collapse" class="collapsed">
          Cost
        </a>
      </h4>

    </div>
    <div role="tabpanel" class="panel-collapse collapse" id="collapse7" aria-expanded="false" style="height: 0px;">
      <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
    </div>
  </div>
  <div class="panel">
    <div role="tab" class="panel-heading">
      <h4 class="panel-title">
        <a aria-controls="collapse7" aria-expanded="false" href="#collapse8" data-parent="#accordion3" data-toggle="collapse" class="collapsed">
          Sourcing
        </a>
      </h4>

    </div>
    <div role="tabpanel" class="panel-collapse collapse" id="collapse8" aria-expanded="false" style="height: 0px;">
      <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
    </div>
  </div>
</div>
