<article class="pu-card">
  <header class="pu-card-header">
    <h4>
                    <a href="#_">Sales presentation to Aqua Corp</a>
                </h4>
    <p class="gray">
      <small>
                        <i class="fa fa-clock-o"></i>
                        19 Oct 15, 03:53 PM</small>
    </p>
  </header>
  <section class="pu-card-content">
    Delivered a sales presentation. Got great feedback about my delivery from Senior Management. #dayne gave feedback about my presentation skills. Commented I need to work on time management and that I should ...
  </section>
  <footer class="pu-card-footer" role="card-footer">
    <p>
      <i class="fa fa-tags"></i>
      <span class="pu-tag pu-tag-sm pu-tag-green">presentation</span>
      <span class="pu-tag pu-tag-sm pu-tag-orange">client facing</span>
      <span class="pu-tag pu-tag-sm pu-tag-blue">demo</span>
    </p>
  </footer>
</article>
