<article class="pu-card">
  <header class="pu-card-header">
    <div class="actions">
      <div class="checkbox checkbox-circle checkbox-success">
        <input type="checkbox">
        <label></label>
      </div>
      <div class="more">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          <i class="fa fa-ellipsis-h fa-lg" aria-hitden="true"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="#">Action 1</a>
          </li>
          <li>
            <a href="#">Action 2</a>
          </li>
        </ul>
      </div>
    </div>
    <h4>
      <a href="learning-activity">Engaging your Colleagues</a>
    </h4>
    <p class="gray">
      <span class="label label-info">Reading
      </span>
    </p>
  </header>
  <figure class="pu-card-figure">
    <img class="featured" src="https://source.unsplash.com/category/nature/600x400/" alt="">
  </figure>
  <section class="pu-card-content">
    Delivered a sales presentation. Got great feedback about my delivery from Senior Management. #dayne gave feedback about my presentation skills. Commented I need to work on time management and that I should ...
  </section>
  <footer class="pu-card-footer">
    <i class="pu-icon pu-icon-thumbs-up"></i>
    15
  </footer>
</article>
