<div class="table-responsive">
  <table class="table table-responsive table-striped table-hover">
    <thead>
      <tr>
        <th>Column 1
        </th>
        <th>Column 2</th>
        <th>Type</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <?php for ($x = 0; $x <= 4; $x++) {?>
      <tr>
        <td>
          <input class="form-control input-sm" placeholder="placehoder ..." type="text">
        </td>
        <td>
          <select class="form-control input-sm">
            <option value="">Select</option>
          </select>
        </td>
        <td>
          Type
          <?php echo $x ?>
        </td>
        <td>
          Status
          <?php echo $x ?></td>
        <td>
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default">Edit</button>
            <button type="button" class="btn btn-default">
              <i class="fa fa-trash fa-lg" aria-hitden="true"></i>
            </button>
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-ellipsis-h fa-lg" aria-hitden="true"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a href="#">Dropdown link</a>
                </li>
                <li>
                  <a href="#">Dropdown link</a>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
      <?php }?>
    </tbody>
  </table>
</div>
