<ul class="pu-timeline">
  <li class="timeline-item row">
    <p class="timeline-date col-sm-4">18 Dec 2016, 9:01am</p>
    <div class="timeline-content col-sm-8">
      <h6>Marcus Recruiter</h6>
      <p>Applied via: Website, Source: Internet advertisement - Intranet, Score: 51.00
      </p>
    </div>
  </li>
  <li class="timeline-item row">
    <p class="timeline-date col-sm-4">21 Mar 2016, 1:02pm</p>
    <div class="timeline-content col-sm-8">
      <h6>System</h6>
      <p>System changed status to 'Offer paperwork' on completion of 'Contractor post-offer information</p>
    </div>
  </li>
  <li class="timeline-item row">
    <p class="timeline-date col-sm-4">21 Mar 2016, 1:02pm</p>
    <div class="timeline-content col-sm-8">
      <h6>Marcus Recruiter</h6>
      <p>Offer: Casual Employment Contract Size: 59kbd</p>
      <p>
        <a href="#">
          <i title="" data-placement="top" data-toggle="tooltip" class="fa fa-file-pdf-o fa-fw" data-original-title="Resume"></i>
        </a>
        <a href="#">
          <i title="" data-placement="top" data-toggle="tooltip" class="fa fa-trash fa-fw" data-original-title="Delete"></i>
        </a>
        <a href="#">
          <i title="" data-placement="top" data-toggle="tooltip" class="fa fa-recycle fa-fw" data-original-title="Reproccess"></i>
        </a>
      </p>
    </div>
  </li>
  <li class="timeline-item row">
    <p class="timeline-date col-sm-4">21 Mar 2016, 1:02pm</p>
    <div class="timeline-content col-sm-8">
      <h6>Marcus Recruiter</h6>
      <p>Paperwork received</p>
    </div>
  </li>
</ul>
