<div class="row pu-wizard">
  <div class="col-xs-3 pu-wizard-step complete">
    <h5 class="text-center pu-wizard-stepnum">Step 1</h5>
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
    <a href="#" class="pu-wizard-dot"></a>
    <div class="pu-wizard-info text-center">6 applicants selected</div>
  </div>

  <div class="col-xs-3 pu-wizard-step active">
    <!-- complete -->
    <h5 class="text-center pu-wizard-stepnum">Step 2</h5>
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
    <a href="#" class="pu-wizard-dot"></a>
    <div class="pu-wizard-info text-center">Select the documents you would like to include.</div>
  </div>

  <div class="col-xs-3 pu-wizard-step disabled">
    <!-- active -->
    <h5 class="text-center pu-wizard-stepnum">Step 3</h5>
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
    <a href="#" class="pu-wizard-dot"></a>
    <div class="pu-wizard-info text-center">
      Generating PDF</div>
  </div>
  <div class="col-xs-3 pu-wizard-step disabled">
    <!-- active -->
    <h5 class="text-center pu-wizard-stepnum">Step 4</h5>
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
    <a href="#" class="pu-wizard-dot"></a>
    <div class="pu-wizard-info text-center">
      Send commnunication</div>
  </div>
</div>
