<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">Open Date</label>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group date">
            <input type="text" class="form-control">
            <div class="input-group-addon">
              <span class="fa fa-calendar"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group clockpicker" data-placement="right" data-align="top" data-autoclose="true">
            <input type="text" class="form-control" value="09:30">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>
          <small class="help-block gray">GMT Standard Time</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">Close Date</label>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group date">
            <input type="text" class="form-control">
            <div class="input-group-addon">
              <span class="fa fa-calendar"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group clockpicker" data-placement="right" data-align="top" data-autoclose="true">
            <input type="text" class="form-control" value="09:30">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>
          <small class="help-block gray">GMT Standard Time</small>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#1b">English</a>
  </li>
  <li>
    <a href="#2b">Two</a>
  </li>
  <li>
    <a href="#3b">Three</a>
  </li>
</ul>
<div class="tab-content clearfix">
  <div class="tab-pane active" id="1b">
    <div class="form-group">
      <label class="control-label required">Job title</label>
      <input class="form-control" placeholder="placeholder" type="text">
    </div>
    <div class="form-group">
      <label class="control-label required">Summary</label>
      <textarea class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label">Design template</label>
      <div class="select">
        <select class="form-control">
          <option>Option 1</option>
          <option>option 2</option>
          <option>option 3</option>
          <option>option 4</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label required">Application form</label>
      <div class="select">
        <select class="form-control">
          <option>Option 1</option>
          <option>option 2</option>
          <option>option 3</option>
          <option>option 4</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label required">Text to appear in Job Ad</label>
      <textarea style="visibility: hidden;" pageup-scribble>Hello from Scribble!</textarea>
      <script type="text/javascript" src="https://ui.pageuppeople.com/libs/scribble/scribble.js" charset="UTF-8" async></script>
    </div>
  </div>
  <div class="tab-pane" id="2b">
    <p>De illis, cum volemus. Inquit, dasne adolescenti veniam?</p>
  </div>
  <div class="tab-pane" id="3b">
    <p>Mihi quidem Homerus huius modi quiddam Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>
<?php include ("${resURL}components/_checklist.html"); ?>
<div class="form-group">
  <div class="pu-toggle-btn">
    <label>
      <input type="checkbox">
      <span>Employee referral/e-mail a friend</span>
    </label>
  </div>
</div>
