 






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PageUp Concepts Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="daniel.wang" >
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="http://styleguide.pageuppeople.com/dist/css/pageup.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet/less" type="text/css" href="../css/main.less" />
    <!-- LESS.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- custom script -->
    <script src="../js/custom.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
            <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="../index"><img width="80" src="../img/pu-logo.png"/></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav main-nav">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-th-large fa-lg"></i>&nbsp;&nbsp;PU Modules <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li><a href="../modules/dashboard">Dashboard</a></li><li><a href="../modules/dock">Dock</a></li><li><a href="../modules/job-card">Job Card</a></li><li><a href="../modules/journal">Journal</a></li><li><a href="../modules/learning-activity">Learning Activity</a></li><li><a href="../modules/learning">Learning</a></li><li><a href="../modules/orgchart">Orgchart</a></li><li><a href="../modules/performance">Performance</a></li><li><a href="../modules/systemsettings">Systemsettings</a></li>                        </ul>
                    </li>
                    <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-th fa-lg"></i>&nbsp; Layouts<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Page Layouts</li>
                            <li><a href="../layouts/fluid">Fluid</a></li>
                            <li><a href="../layouts/fixed-width">Fixed width</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Content templates</li>
                            <li><a href="../layouts/content-only">Content Only</a></li>
                            <li><a href="../layouts/sidebar-content">Sidebar and content</a></li>
                            <li><a href="../layouts/content-aside">Content and aside</a></li>
                            <li><a href="../layouts/three-columns">Three Columns</a></li>
                            <li><a href="../layouts/modal">Focused task</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-puzzle-piece fa-lg"></i>&nbsp; Patterns <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li><a href="../patterns/form">Form</a></li><li><a href="../patterns/list">List</a></li><li><a href="../patterns/typography">Typography</a></li>                        </ul>
                    </li>
                    <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-lg fa-coffee"></i>&nbsp; Relax  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li><a target="_black" href="apps/map"> Map</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><button class="btn btn-info btn-sm margin-right">Action</button></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle head-button-link"><span class="notice-new">3</span><i class="fa fa-bell"></i></a>
                    </li>
                    <li class="dropdown loginAs"> <span data-toggle="dropdown" class="dropdown-toggle" href="#"><img src="../img/emp/emp.jpg" class="pu-avatar pu-avatar-sm" /> Daniel <b class="caret"></b></span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Profile</a>
                            </li>
                            <li><a href="#">Journal</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Logout</a>
                            </li>
                        </ul>
                    </li>
                    <li id="user-setting" class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#_"><i class="fa fa-cogs"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                         <li>User Type :</li>
                         <li class="manager"><a data-attr="manager" href="#"> Manager</a> </li>
                         <li class="employee"><a data-attr="employee" href="#"> Employee</a> </li>
                        </ul>
                    </li>
                </ul>
                <!-- search box -->
                <form role="search" id="search" class="navbar-form app-only">
                    <div class="input-group">
                        <span class="input-group-addon"> <i class="fa fa-search"></i> </span>
                        <input type="text" placeholder="Search" class="form-control search-box">
                    </div>
                    <label id="pin-btn" class="checkbox__label">
                      <input id="toggle-view" class="checkbox hide" type="checkbox">
                      <span class="pin__track">
                        <span class="pin">
                          <span class="pin__component__wrapper">
                            <i class="fa fa-lg fa-thumb-tack" aria-hidden="true"></i>
                          </span>
                        </span>
                      </span>
                    </label>
                </form>
            </div>
    </div>
</nav>

<div class="container">
	<div class="row row-gap">
    <div class="col-sm-8">
        <img class="img-responsive" src="http://placehold.it/780x800/ABE0F4/57C0E9?text=Content" alt="">
    </div>

    <div class="col-sm-4">
        <img class="img-responsive" src="http://placehold.it/390x500/ABE0F4/57C0E9?text=aside" alt="">
    </div>

</div>
 </div>
		<footer class="text-center" style="font-size:11px; color:#ababab; margin:20px 0"> designed with <i class="fa fa-heart" style="color:#cb6564"></i> by <a target="_blank" href="https://www.instagram.com/danielwang/">daniel wang </a></footer>
	</body>

</html>