 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">
    <title>PageUp Mockup</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Where Daniel plays the concept design">
    <meta name="author" content="daniel.wang" >
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ui.pageuppeople.com/icons/v1.0.2/css/pu-icon.css">
    <!-- <link rel="stylesheet" href="../../vendor/pu-gel/pageup.css">-->
    <link rel="stylesheet" href="http://styleguide.pageuppeople.com/dist/css/pageup.css">
    <!-- <link rel="stylesheet" href="../../dist/css/skins/skin-blue.css"> -->
    <link rel="stylesheet" href="../../dist/css/mockup.css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <!--
    BODY TAG OPTIONS:
    =================
    Apply one or more of the following classes to get the
    desired effect
    |---------------------------------------------------------|
    |LAYOUT OPTIONS | fixed                                   |
    |               | layout-boxed                            |
    |               | layout-top-nav                          |
    |               | sidebar-collapse                        |
    |               | sidebar-mini                            |
    |---------------------------------------------------------|
    -->
<body class="hold-transition pu-blue sidebar-mini fixed">
  <div class="wrapper">
<header class="main-header">
  <!-- Logo -->
  <a href="index.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <i class="pu-icon pu-icon-logo"></i>
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><img src="../../img/pu-logo.png" width="100"/></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <!-- search form (Optional) -->
    <!-- <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input name="q" class="form-control" placeholder="Search..." type="text">
                <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                        </button>
                      </span>
            </div>
        </form> -->
    <!-- /.search form -->
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Notifications Menu -->
        <li class="dropdown notifications-menu">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="badge badge-blue">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              <!-- Inner Menu: contains the notifications -->
              <ul class="menu">
                <li>
                  <!-- start notification -->
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i>
                    5 new members joined today
                  </a>
                </li>
                <!-- end notification -->
              </ul>
            </li>
            <li class="footer">
              <a href="#">View all</a>
            </li>
          </ul>
        </li>
        <!-- Tasks Menu -->
        <li class="dropdown tasks-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i>
            <span class="badge badge-red">9</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 9 tasks</li>
            <li>
              <!-- Inner menu: contains the tasks -->
              <ul class="menu">
                <li>
                  <!-- Task item -->
                  <a href="#">
                    <!-- Task title and progress text -->
                    <h3>
                      Design some buttons
                      <small class="pull-right">20%</small>
                    </h3>
                    <!-- The progress bar -->
                    <div class="progress xs">
                      <!-- Change the css width attribute to simulate progress -->
                      <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">20% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
              </ul>
            </li>
            <li class="footer">
              <a href="#">View all tasks</a>
            </li>
          </ul>
        </li>
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" style="padding-top: 8px; padding-bottom: 8px;" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <img src="../../img/emp/emp.jpg" class="pu-avatar pu-avatar-sm" alt="User Image">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">Daniel Wang</span>
          </a>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar">
            <i class="fa fa-gears"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <!-- <li class="header">Modules</li> -->
      <li class="treeview">
        <a href="#">
          <i class="pu-icon pu-icon-2x pu-icon-recruitment"></i>
          <span>Recruitment</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../../modules/recruitment/applicant">Applicant</a></li><li><a href="../../modules/recruitment/applicants">Applicants</a></li><li><a href="../../modules/recruitment/apply">Apply</a></li><li><a href="../../modules/recruitment/bulk-action">Bulk Action</a></li><li><a href="../../modules/recruitment/dashboard">Dashboard</a></li><li><a href="../../modules/recruitment/job">Job</a></li><li><a href="../../modules/recruitment/jobs">Jobs</a></li><li><a href="../../modules/recruitment/offer">Offer</a></li><li><a href="../../modules/recruitment/sourcing-card">Sourcing Card</a></li><li><a href="../../modules/recruitment/talent-search">Talent Search</a></li>        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="pu-icon pu-icon-2x pu-icon-performance"></i>
          <span>Performance</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../../modules/performance/journal">Journal</a></li><li><a href="../../modules/performance/orgchart">Orgchart</a></li><li><a href="../../modules/performance/performance">Performance</a></li>        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="pu-icon pu-icon-2x pu-icon-learning"></i>
          <span>Learning</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../../modules/learning/learning-activity">Learning Activity</a></li><li><a href="../../modules/learning/learning">Learning</a></li>        </ul>
      </li>
      <li>
        <a href="#">
          <i class="pu-icon pu-icon-2x pu-icon-analytics"></i>
          <span>Analytics</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../../modules/analytics/report">Report</a></li>        </ul>
      </li>
      <li>
        <a href="#">
          <i class="pu-icon pu-icon-2x pu-icon-settings"></i>
          <span>Settings</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../../modules/settings/application-status">Application Status</a></li><li><a href="../../modules/settings/online-offer">Online Offer</a></li><li><a href="../../modules/settings/settings">Settings</a></li>        </ul>
      </li>
      <li>
        <a href="#">
          <i class="pu-icon pu-icon-2x pu-icon-team"></i>
          <span>Administrator</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../../modules/admin/employee-search">Employee Search</a></li><li><a href="../../modules/admin/employee">Employee</a></li>        </ul>
      </li>
      <!-- <li class="header">Layouts</li> -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-th-large fa-2x"></i>
          <span>Layouts</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../../layouts/content-aside">Content Aside</a></li><li><a href="../../layouts/content-only">Content Only</a></li><li><a href="../../layouts/fixed-width">Fixed Width</a></li><li><a href="../../layouts/fluid">Fluid</a></li><li><a href="../../layouts/modal">Modal</a></li><li><a href="../../layouts/sidebar-content">Sidebar Content</a></li><li><a href="../../layouts/three-columns">Three Columns</a></li>        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-puzzle-piece fa-2x"></i>
          <span>Patterns</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../../patterns/cards">Cards</a></li><li><a href="../../patterns/form">Form</a></li><li><a href="../../patterns/list">List</a></li><li><a href="../../patterns/typography">Typography</a></li>        </ul>
      </li>
      <!-- <li class="header">Random</li> -->
      <li>
        <a target="_blank" href="map">
          <i class="fa fa-2x fa-map-marker"></i>
          <span>Map</span>
        </a>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
  <footer class="text-center">
    handcrafted with
    <i class="fa fa-heart" style="color:#cb6564"></i> by
    <a target="_blank" href="https://www.instagram.com/danielwang/">
      daniel 王大禹
    </a>
  </footer>
</aside>
		<div class="content-wrapper">
      <!-- jumbotron -->
            <div class="jumbotron hero">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-7 col-lg-9">
              <h1>Talent Mobility</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
<p><a class="btn btn-warning btn-lg" href="#" role="button">Learn now</a></p>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a class="text-center" href="#_">
                    <i class="fa fa-print fa-lg"></i>
                    <h6>Print</h6>
                  </a>
                </li>
                <li>
                  <a class="text-center" href="#_">
                    <i class="fa fa-comments-o fa-lg"></i>
                    <h6>Feedback</h6>
                  </a>
                </li>
                <li>
                  <a class="text-center" href="#_">
                    <i class="fa fa-info-circle fa-lg"></i>
                    <h6>Help</h6>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
            <!-- submenu -->
      <!-- page body -->
			<div class="container content">
				<style type="text/css">
.side .row {
      margin-bottom: 20px;
      padding-bottom: 5px;
  }
.side i {
    color: #40B8E6;
  }
.side .dash {
      border-bottom: 1px dashed #ddd;
      padding-bottom: 5px;
  }
</style>
<div class="container content">
  <div class="row">
      <div class="col-sm-8">
        <div class="pu-box">
          <div class="pu-box-content">
          <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
          <p>Ut wisi enim ad minim veniam, <a href="#">quis nostrud exerci tation ullamcorper</a> suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <h3>Paragraphs</h3>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <h3>Paragraphs</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <h3>Unordered list</h3>
            <p>Unordered lists are used to markup lists where list items do not require numbering.</p>
            <ul>
              <li>Ut wisi enim ad minim veniam</li>
              <li>Quis nostrud exerci tation</li>
              <li>Lamcorper suscipit lobortis nis</li>
              <li>Ut aliquip ex ea commodo consequat</li>
              <li>Duis autem vel eum iriure dolor</li>
            </ul>
          </div>
          <div class="pu-box-footer text-center">
              <button class="btn btn-primary">Action</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 side">
        <div ng-show="activity.status" class="row">
            <div class="col-xs-6 col-lg-4"><i class="fa fa-info fa-fw"></i> <span lang="STATUS">Status</span></div>
            <div class="col-sm-6 col-lg-8 dash ng-binding">In progress</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-4"><i class="fa fa-user fa-fw"></i> <span lang="CREATED_BY">Created by</span></div>
            <div class="col-sm-6 col-lg-8 dash ng-binding"><img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp.jpg"> Daniel Wang</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-4"><i class="fa fa-clock-o fa-fw"></i> <span lang="APPLICANT_CREATE_DATE">Created</span></div>
            <div class="col-sm-6 col-lg-8 dash activity-created-date ng-binding">21 Aug 15</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-4"><i class="fa fa-files-o fa-fw"></i> <span lang="TYPE">Type</span></div>
            <div class="col-sm-6 col-lg-8 dash ng-binding">Online Video Learning</div>
        </div>
        <div ng-show="activity.validity !== 0" class="row ng-hide">
            <div class="col-xs-6 col-lg-4"><i class="fa fa-history fa-fw"></i> <span lang="VALID_FOR">Valid for</span></div>
            <div class="col-sm-6 col-lg-8 dash ng-binding">0 <span lang="DAYS">Days</span></div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-4"><i class="fa fa-thumbs-o-up fa-fw"></i> <span lang="POPULARITY">Popularity</span>
            </div>
            <div class="col-sm-6 col-lg-8 dash">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp1.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp2.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp3.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp4.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp5.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp6.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp7.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp8.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp9.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp10.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp11.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp12.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp13.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp14.png">
                              <img class="pu-avatar pu-avatar-sm" src="../..//img/emp/emp15.png">
                          </div>
        </div>


        <div ng-show="activity.competencies.length !== 0">
        <h5 lang="COMPETENCIES">Competencies</h5>

        <!-- ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
            <a popover-trigger="focus" popover="Introducing original ideas; applying new methods; being creative." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Innovation</a>
            <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Innovation </span>
            - <span class="level ng-binding">People Leader</span>
        </p><!-- end ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
            <a popover-trigger="focus" popover="Introducing original ideas; applying new methods; being creative." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Innovation</a>
            <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Innovation </span>
            - <span class="level ng-binding">Technical Leader</span>
        </p><!-- end ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
            <a popover-trigger="focus" popover="Introducing original ideas; applying new methods; being creative." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Innovation</a>
            <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Innovation </span>
            - <span class="level ng-binding">Business Leader</span>
        </p><!-- end ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
            <a popover-trigger="focus" popover="Creating and defining a broad, compelling organisational vision, and organising and inspiring others to pursue it." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Leadership (Strategic)</a>
            <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Leadership (Strategic) </span>
            - <span class="level ng-binding">Team Member</span>
        </p><!-- end ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
            <a popover-trigger="focus" popover="Creating and defining a broad, compelling organisational vision, and organising and inspiring others to pursue it." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Leadership (Strategic)</a>
            <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Leadership (Strategic) </span>
            - <span class="level ng-binding">People Leader</span>
        </p><!-- end ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
            <a popover-trigger="focus" popover="Creating and defining a broad, compelling organisational vision, and organising and inspiring others to pursue it." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Leadership (Strategic)</a>
            <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Leadership (Strategic) </span>
            - <span class="level ng-binding">Technical Leader</span>
        </p><!-- end ngRepeat: c in activity.competencies --><p ng-repeat="c in activity.competencies" class="ng-scope">
            <a popover-trigger="focus" popover="Creating and defining a broad, compelling organisational vision, and organising and inspiring others to pursue it." popover-placement="right" href="" ng-show="c.overview.length !==0" class="ng-scope ng-binding">Leadership (Strategic)</a>
            <span ng-show="c.overview.length ===0" class="ng-binding ng-hide">Leadership (Strategic) </span>
            - <span class="level ng-binding">Business Leader</span>
        </p><!-- end ngRepeat: c in activity.competencies -->
      </div>
      </div>
   </div>
</div>
			</div>
		</div>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-latest.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/app.js"></script>
<script src="../../dist/js/mockup.js"></script>
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>

</html>